# Build and Distribution
build/
dist/
dist-ssr/
storybook-static/

# Dependencies
node_modules/

# Development
logs/
test/
*/stories/
*.py
.*
*.md
!.gitignore
!.prettierrc
!.github
!README.md

# IDE and Editor
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System Files
.DS_Store
*.log*
.treeignore
.*rules*

# Cache and Temporary
.eslintcache
.prettier-cache